/* ===========================
   📰 STRUCTURE BLOG
=========================== */

#blog-menu {
  transition: left 0.3s ease;
  top: 100px; /* 80 à l'origine ou essaye 100px selon rendu */
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 1000;
}

#blog-menu.closed {
  left: -60px; /* ou -100% si tu veux le cacher totalement */
}

#panels .panel {
  display: none;
  padding: 1rem;
}

#panels.active .panel.active {
  display: block;
}

#toggle-menu {
  margin-top: 0.5rem;
}
