<!-- article-tools.html -->
<div class="article-tools">
  <div class="btn-share-wrapper">
    <button class="btn-share-article" onclick="toggleShareMenu()">
      <span class="icon">🔗</span> Partager
    </button>
    <div id="share-menu" class="share-menu hidden">
      <a href="#" onclick="shareTo('facebook')">📘 Facebook</a>
      <a href="#" onclick="shareTo('twitter')">𝕏 (ex-Twitter)</a>
      <a href="#" onclick="shareTo('email')">✉️ Email</a>
    </div>
  </div>
  <!-- Plus tard : autre bouton ici -->
</div>
