body.theme-lunaire #lune-widget {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.75;
  pointer-events: none;
  z-index: 0;
  transition: top 0.3s ease-out;
}
